<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/images/icon.png" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title><%= title%></title>
    <%- include("../partials/header.ejs") %> <% var products= []; %>
  </head>
  <body>
    <section class="h-100 h-custom" style="background-color: #d2c9ff">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12">
            <div
              class="card card-registration card-registration-2"
              style="border-radius: 15px"
            >
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div
                        class="d-flex justify-content-between align-items-center mb-5"
                      >
                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                        <h6 class="mb-0 text-muted">
                          <%= cartProducts.length%> items
                        </h6>
                      </div>
                      <hr class="my-4" />
                      <% var total = 0;%> <% if(typeof cartProducts !==
                      'undefined') { %> <%
                      cartProducts.forEach(function(product) { %> <% total +=
                      product.variant.price * product.quantity%>
                      <div
                        class="row mb-4 d-flex justify-content-between align-items-center"
                      >
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="/images/<%= product.product.image_groups[0].images[0].link %>"
                            class="img-fluid rounded-3"
                            alt="<%= product.product.image_groups[0].images[0].alt %>"
                          />
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="text-black mb-0">
                            <%= product.product.name%>
                          </h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button
                            class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          >
                            <i class="fas fa-minus"></i>
                          </button>

                          <input
                            id="form1"
                            min="0"
                            name="quantity"
                            value="<%= product.quantity%>"
                            type="number"
                            class="input-sm"
                            style="min-width: 35%; max-width: 40%"
                          />

                          <button
                            class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp(); calculateTotal('<%= product.variant.price%>')"
                          >
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h6 class="mb-0" id="price">
                            <%= product.variant.price * product.quantity%> <%=
                            product.product.currency%>
                          </h6>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a
                            href=""
                            class="text-muted"
                            onclick="removeFromCart('<%= product.productId %>,<%= product.variant.product_id %>')"
                            ><i class="fas fa-times"></i
                          ></a>
                        </div>
                      </div>

                      <hr class="my-4" />
                      <%})%> <% }%>
                    </div>
                  </div>

                  <div class="col-lg-4" style="background-color: #d3d3d3">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4" />

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5><%= total%> USD</h5>
                      </div>

                      <button
                        type="button"
                        class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark"
                      >
                        Payment
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function removeFromCart(productId, variantId) {
        $.ajax({
          type: "GET",
          url: "/removeFromCart/" + productId + "/" + variantId,
          success: function (response) {
            alert(response);
            location.reload();
          },
          error: function (xhr, status, err) {
            alert(xhr.responseText);
          },
        });
      }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
