<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/images/icon.png" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
    <title><%= title %></title>
    <%- include("../partials/header.ejs") %>
  </head>

  <body>
    <section class="h-100 h-custom" style="background-color: #d2c9ff">
      <% if(typeof product != 'undefined') { %>
      <div
        class="card mb-3 min-vh-100 justify-content-center align-items-center"
        style="max-width: 50%; margin: 0 auto; float: none"
      >
        <div class="row g-0">
          <div class="col-md-4">
            <img
              class="card-img"
              src="/images/
						<%= product.image_groups[0].images[0].link %>"
              alt="Card image cap"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-text"><%= product.name %></h4>
              <p class="card-text"><%= product.short_description%></p>
              <div class="row g-0" style="margin-top: 15%">
                <div class="col-md-5">
                  <button
                    class="btn btn-primary"
                    onclick="addToCart('<%= product%>')"
                  >
                    Add to Cart
                  </button>
                </div>
                <div class="col-md-3">
                  <span class="text-info"
                    >Price: <span id="price"><%= product.price%></span>
                  </span>
                </div>
                <div class="col-md-1">
                  <div class="dropdown">
                    <select
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      aria-haspopup="true"
                      aria-expanded="false"
                      onchange="_onChange()"
                    >
                      Dropdown button
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                      >
                        <option value="USD" selected="selected">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="TRY">TRY</option>
                        <option value="JPY">JPY</option>
                      </div>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% } %>
    </section>
    <script>
      function addToCart() {
        $.get(
          "/addToCart/" +
            "<%= product.id%>" +
            "/" +
            "<%= product.variants[0].product_id%>" +
            "/" +
            1,
          function (data, status) {
            if (status === "success") {
              alert(data);
            }
          }
        );
      }
      function _onChange() {
        let selectedCurrency = $("#dropdownMenuButton option:selected").val();

        $.get(
          "https://v6.exchangerate-api.com/v6/ab54fab3f55ab173310728cf/latest/USD",
          function (data, status) {
            if (status === "success") {
              let convertedCurrency =
                "<%= product.price%>" * data.conversion_rates[selectedCurrency];
              convertedCurrency = Math.floor(convertedCurrency * 100) / 100;
              $("#price").html(convertedCurrency.toFixed(0));
            }
          }
        );
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
